name: "Build Ukrainian language documentation"

on:
  push:
    branches: "master"
  pull_request:
    branches: "master"
  workflow_dispatch:

jobs:
  build:
    uses: Ayesh/doc-base/.github/workflows/reusable.yml@master
    with:
      repo: 'php/doc-uk'
      language: 'uk'
